<!doctype html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
    <h1>Scoreboard</h1>
    <h2>Click a name to add 1 point:</h2>
<form action="/update" method="post">
    {% for name, score in scores %}
        <button type="submit" name="name" value="{{ name }}">{{ name }} ({{ score }})</button><br><br>
    {% endfor %}
    <input type="hidden" name="change" value="1">
</form>
    <form action="/add" method="post">
        <input name="name" placeholder="New player name">
        <button type="submit">Add Player</button>
    </form>
    <form action="/update" method="post">
        <input name="name" placeholder="Player name">
        <input name="change" type="number" placeholder="Score change">
        <button type="submit">Update Score</button>
    </form>
</body>
</html>
